@model ASPace.Models.Post;
<ul class="dropdown-menu">
    <li class="dropdown-header"><strong>Liked by:</strong></li>
    <li class="dropdown-item"><hr class="dropdown-divider"></li>
    @{var idx = 0;}
    @foreach (var pl in Model.PostLikes)
    {
        if (idx < 2)
        {
            <li class="dropdown-item"><i class="bi bi-person-circle"></i>&nbsp;<a href="/Users/Show/@pl.User.UserName" class="text-decoration-none username-link">@pl.User.UserName</a></li>
            ++idx;
        }
        else
        {
            <li class="dropdown-item">and @(Model.LikeCount - idx) more...</li>
            break;
        }
    }
</ul>