@{
    ViewBag.Title = "Error";
    string cssClass = ViewBag.ErrorCode == 404 ? "background-error-404" : (ViewBag.ErrorCode == 403 ? "background-error-403" : null); 
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card @cssClass">
            <div class="background-error-layer">
                <h1 class="card-title text-danger text-center p-5" style="font-size: 3.5rem;">@ViewBag.ErrorCode @ViewBag.ErrorTitle</h1>
                <div class="card-body">
                    <h2 class="text-danger text-center">@ViewBag.ErrorMessage</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>