@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="logres-form-div">
                    <input asp-for="Email" class="logres-form-input" disabled />
                        <span class="h-100 logres-form-input text-success font-weight-bold"  style="width: 50px; margin-left: 421px !important; background-color: var(--grey) !important;">✓</span>
                    <label asp-for="Email" class="logres-form-label"></label>
                </div>
                <br/>
            }
            else
            {
                <div class="logres-form-div">
                    <input asp-for="Email" class="logres-form-input" disabled />
                    <label asp-for="Email" class="logres-form-label"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
                <br/>
            }
            <div class="logres-form-div">
                <input asp-for="Input.NewEmail" class="logres-form-input" autocomplete="email" aria-required="true" />
                <label asp-for="Input.NewEmail" class="logres-form-label"></label>
                 <div class="div-span"><span asp-validation-for="Input.NewEmail" class="text-danger eroare"></span></div>
            </div>
            <br/>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg logres-form-button">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
