@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row" style="height: 100%;">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top: 1%;">
        <div class="card-border">
            <div class="card-body">
                <h2 class="card-title text-center">Log In</h2>
                <form id="account" method="post">
                    <br/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="logres-form-div">
                        <input asp-for="Input.UserName" class="logres-form-input" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.UserName" class="logres-form-label"></label>
                        <div class="div-span"><span asp-validation-for="Input.UserName" class="text-danger eroare"></span></div>
                    </div>
                    <br/>
                    <div class="logres-form-div">
                        <input asp-for="Input.Password" class="logres-form-input" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="logres-form-label"></label>
                        <div class="div-span"><span asp-validation-for="Input.Password" class="text-danger eroare"></span></div>
                    </div>
                    <div class="logres-form-div">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="logres-form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg logres-form-button">Log In</button>
                    </div>
                    <br />
                    <div>
                        <p class="logres-form-paragraph">
                            <a class="login-link" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p class="logres-form-paragraph">
                            <a class="login-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p class="logres-form-paragraph">
                            <a class="login-link" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div class="col-md-4"></div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


