@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row" style="height: 100%;">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" style="margin-top: 1%">
        <form id="registerForm" style="" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="card-border">
                <div class="card-body">
                    <div class="container">
                        <div class="row d-flex justify-content-center" width="100px">
                            <h2 class="card-title text-center">Register</h2>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="logres-form-div">
                                    <input asp-for="Input.Email" class="logres-form-input" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.Email" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="logres-form-div">
                                    <input asp-for="Input.FirstName" class="logres-form-input" />
                                    <label asp-for="Input.FirstName" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.FirstName" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="logres-form-div">
                                    <input asp-for="Input.Password" class="logres-form-input" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.Password" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.Password" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="logres-form-div">
                                    <input asp-for="Input.LastName" class="logres-form-input" />
                                    <label asp-for="Input.LastName" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.LastName" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="logres-form-div">
                                    <input asp-for="Input.ConfirmPassword" class="logres-form-input" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.ConfirmPassword" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.ConfirmPassword" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="logres-form-div">
                                    <input asp-for="Input.BirthDate" class="logres-form-input" />
                                    <label asp-for="Input.BirthDate" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.BirthDate" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="logres-form-div">
                                    <input asp-for="Input.UserName" class="logres-form-input" />
                                    <label asp-for="Input.UserName" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.UserName" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="logres-form-div">
                                    <select asp-for="Input.IsPublic" class="logres-form-input">
                                        <option value="1">Public</option>
                                        <option value="0">Private</option>
                                    </select>
                                    <label asp-for="Input.IsPublic" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.IsPublic" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logres-form-div">
                                    <textarea asp-for="Input.Description" class="logres-form-input" style="max-height: 57px !important;"></textarea>
                                    <label asp-for="Input.Description" class="logres-form-label"></label>
                                    <div class="div-span"><span asp-validation-for="Input.Description" class="text-danger eroare"></span></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg logres-form-button">Register</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


