.background-color-blue1{
    background-color: var(--blue1);
}

.background-color-blue2{
    background-color: var(--blue2);
}

.background-color-blue3{
    background-color: var(--blue3);
}

.background-color-blue4{
    background-color: var(--blue4);
}

.background-color-blue5{
    background-color: var(--blue5);
}

.background-color-cream3{
    background-color: var(--cream3);
}

.background-color-blue1 {
    background-color: var(--blue1);
}

button:hover, a.background-color-blue1:hover,
a.background-color-cream3:hover {
    background-color: var(--cream2);
    color: var(--blue5);
}

.chat-button:hover{
    background-color: var(--cream1);
    color: var(--blue5);
}

.card {
    padding: 30px;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

.card-cream3 {
    background-color: var(--cream3);
    border: 2px solid var(--border-color);
    padding: 10px;
}

.card-blue2 {
    border: 2px solid #DADCE0;
    border-radius: .5rem;
}

.eroare {
    font-size: small;
    position: absolute;
    top: 57px;
}

.div-span {
    position: relative;
    height: 100px;
}

.button-modal{
    background-color: var(--blue2);
}

.button-modal:hover{
    background-color: var(--blue1);
}

a.nav-link:hover,
a.navbar-brand:hover
{
    color: var(--cream3) !important;
}

.nav-link:focus {
    color: var(--light-blue) !important;
}
.nav-button:hover{
    background-color: var(--cream2);
}

.login-link{
    color: var(--blue5);
    text-decoration: none;
}

.card-border {
    border-radius: 10px;
    border: 2px solid var(--border-color);
    overflow: hidden;
    padding: 5px;
}

.dropdown-menu{
    background-color: var(--cream2);
}

.background-color-grey {
    background-color: var(--grey);
}

.background-color-grey:hover {
    background-color: var(--grey-dark);
}

/*################################### Chat Styles #######################################################*/
.chat-container {
    padding: 20px;
}

.chat-background {
    height: 723px;
    background-image: url("../images/tel.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.chat-message{
    max-width: 75%;
    border: 2px solid var(--cream3);
    background-color: rgba(253, 240, 224, 0.8);
    border-radius: 25px;
    overflow: hidden;
}

.chat-contacts-card {
    background-color: #fff9f2;
    opacity: 0.8;
    border: 2px solid var(--cream3);
    border-radius: 10px;
    overflow: hidden;
    height: 590px;
}

.username-link{
    color: black;
}

.username-link:hover{
    color: var(--blue3);
}


/*################################### User profile styles #################################*/

.background-color-lightblue {
    background-color: var(--light-blue);
}

.card-cream3{
    background-color: var(--cream3);
    border: 3px solid var(--blue5);
}

.userslist-item-hover:hover{
    background-color: var(--blue1);
}

.modal-list-item-hover:hover{
    background-color: var(--cream2);
}

.search-user-modal{
    border: 2px solid var(--blue3);
}

a.page-link:hover{
    background-color: var(--cream1) !important;
}

/*################################### Error view styles #################################*/

.background-error-404{
    height: 500px;
    background-image: url("../images/404.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background-error-403{
    height: 700px;
    background-image: url("../images/403.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background-error-layer{
    height: 100%;
    width: 100%;
    background-color: rgba(128, 181, 255, 0.45);
}

*, ::before, ::after {
    box-sizing: boder-box;
}

h1 {
    margin: 0;
}

/* ---------------------------------- For Login and Registration Form ---------------------------------- */
.logres-form {
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

.logres-form-div {
    position: relative;
    height: 55px;
    margin-bottom: 1.5rem;
}

.logres-form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.logres-form-label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0.25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.logres-form-button {
    display: block;
    margin: 0 auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s;
}

.logres-form-button:hover {
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.logres-form-input:focus + .logres-form-label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.logres-form-input:not(:placeholder-shown).logres-form-input:not(:focus) + .logres-form-label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.logres-form-input:focus {
    border: 1.5px solid var(--first-color);
}

.logres-form-paragraph {
    font-size: 0.75rem;
    text-align: center;
}


/* ---------------------------------- For Homepage ---------------------------------- */
h2.home-headers {
    margin-top: 75px;
}

.home-headers {
    text-align: center;
    font-weight: 700;
}

.action-buttons {
    text-align: center;
    width: 75%;
    display: block;
    margin: 15px auto 0 auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}

.action-buttons:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

