@{
  ViewBag.Title = "Chat";
}
<section class="card-border background-color-blue2" style="margin-top:-20px;">
    <div class="container py-5" style="padding: 5px !important;">
        <div class="chat-background">
            <div class="container chat-container">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                        @Html.Partial("PartialChat")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
